version: '3'

services:
  # 后端服务
  backend:
    image: ghcr.io/2977094657/bili-history-fetcher:latest
    container_name: bilibili-history-backend
    restart: unless-stopped
    volumes:
      - ./config:/app/config
      - ./output:/app/output
    ports:
      - "8899:8899"
    environment:
      - TZ=Asia/Shanghai
      - DOCKER_ENV=true

  # 前端服务
  frontend:
    image: ghcr.io/2977094657/bili-history-frontend:latest
    container_name: bili-history-frontend-web
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      - TZ=Asia/Shanghai

networks:
  default:
    name: bilibili-network
    driver: bridge 
